

.header-container {
  color:rgb(255, 255, 255) !important;
  display:flex;
  justify-content:space-between;
  width:100vw;
  height: 5vh;
  background-color: rgb(25,18,17);
}
.body-container {
  text-decoration: none;  
  color:rgb(255, 255, 255) !important;
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 95vh;
  background-color: rgb(37,30,27);
}

.LeftToolbar {
  text-decoration: none;  
  font-size: medium;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  height: 95vh;
  background-color: rgb(25,18,17);
  color: lightgrey
}

.Account {
  color:lightgray;
  text-decoration: none;  
  text-align: center;
  height: 2em;
  width: 10em;
}
.Account:link {
  text-decoration: none;  
}

.Account:hover {
  text-decoration: none;
  background-color: rgb(40,33,30);
}
.Popup {
  text-decoration: none;  
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 50vw;
  overflow-y: auto;
  
  
  
}
.Popup2 {
  text-decoration: none;  
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 75vw;
  
  
  
}

.review::-webkit-scrollbar {
  width: 12px;
}
.Map {
  text-decoration: none;  
  color:gray;
  font-size: 10em;
  height: 2em;
  width: 100%;
  background-color: rgb(40, 33, 30);

}
.Description {
  text-decoration: none;  
  color: lightgrey;
  height: 20%;
  background-color: rgb(61, 58, 56);
  width: 50vw;
}


.Title {
  text-decoration: none;  
  color: white;
  font-size:large;
  font-family:sans-serif;
}

.Logo {
  text-decoration: none;  
  font-size:large;
  font-family:sans-serif;
  text-align: center;
  height: 5vh;
  width: 10em;
  color: white;

}

.TabsLinks {
  color:lightgray;
  text-decoration: none;  
  text-align: center;
  height: 2em;
  width: 10em;
}
.TabsLinks:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30);
}
.List {
  text-decoration: none;  
  text-align: center;
  height: 2em;
  width: 10em;
  margin-bottom: 2em;
}
.List:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30);
}

.Filters {
  text-decoration: none;  
  font-size: medium;
  font-family:sans-serif;
  text-align: center;
  height: 95vh;
  width: 10em;
  background-color: rgb(25,18,17);
  color: lightgrey
}
.FilterItems {
  text-decoration: none;  
  height: 2em;
  width: 10em;
}
.FilterItems:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30)
}
.Search input{
  text-decoration: none;  
  border: 0;
  height: 2em;
  width: 10em;
  background-color: rgb(231, 231, 231);
}
.Search input:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30)
}


.restaurant-select {
  display: flex;
  flex: 1fr 1fr;
  margin-bottom: 30em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 4em;
}

.Review-button {
  color:lightgray;
  background-color: rgb(25,18,17);
  height: 20%;
  width: 100%;
  text-decoration: none;
}
.norm-button {
  width: 50vw;
  color:lightgray;
  background-color: rgb(25,18,17);
  text-decoration: none;
  outline-color: rgb(25,18,17);;
}
.norm-button:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30)
}
.Review-button:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30)
}
.review-body {
  width: 100%;
  height: 20em;
  overflow-y: auto;
}
.restaurant-body {
  height:7em;
  width: 100%;
  padding-bottom: 10%;
  overflow-y:auto;
}
.restaurant-body::-webkit-scrollbar {
  width: 12px;
}
.review {
  color:lightgray;
  background-color: rgb(38, 38, 41);
  width: 50vw;
  
  
}
.restaurantinfo {
  color:lightgray;
  background-color: rgb(38, 38, 41);
  width: 100%;
  
  
}
.title-ptag {
  font-size: 14px;
}
.marker {
  text-align: center;
  position:absolute;
  width:22px;
  height:22px;
  border:2.5px solid #000000;
  border-radius:7px;
  background-color:rgb(255, 0, 0);
  color:rgb(255, 255, 255);
  font-size:18px;
  font-weight:bold;
}
.button-body {
  width: 100%;
  height:1em;
  
  flex-direction: row;
}
.review-sort-buttons {
  width: 20%;
  color:lightgray;
  background-color: rgb(25,18,17);
  text-decoration: none;
  outline-color: rgb(25,18,17);;
}
.review-sort:hover {
  text-decoration: none;  
  background-color: rgb(40,33,30)
}

.account-page-info{
  
  justify-content: left;
  text-align: center;
  width: 50vw;
  padding-left: 50%;
}
