.App {
  text-align: center;
}

.testInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testInput input{
  width: 350px;

}

.restaurant-dropdown {
  flex-grow: 1;
}

.select-class {
  color:black;
}

.map {
  
  height: 50%;
  width: 100%;
}


.google-map {
  justify-content:center;
  height: 22em;
  width: 45em;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}


